@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600italic|Cantata+One);

body {
  margin-bottom: 100px;
  background-image: url(../img/gradient.jpg);
}

#page {
background-color: #FBFBF3;	
}	

header	{
  height: 180px;
}	

header img	{
  margin: 10px 0 0 5px;
}

header h1	{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

header h3	{
  font-family: 'Cantata One', serif;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}	

#left	{
  float: left;	
}

#right	{
  width: calc(100% - 160px);	
  height: 123px;
  float: left;	
}	

#shift1	{
  margin-top: 10px;	
  width: 100%;		
  float: left;
}

#shift2	{
  width: 100%;	
  float: left;	
}	

#shift3	{
  width: 100%;		
  float: left;
}

nav	{
  margin-top: 125px;		
}	

/* ===================== *
 * Carousel Declarations *
 * ===================== */

#homePageCarousel	{
  width: 500px;
  margin: 0 auto;	
}	

#homePageCarousel  h3	{
  font-family: Arial, Helvetica, sans-serif;	
  font-style: normal;	
}

.carousel {
  height: 293px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 293px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 293px;
}

/* =================== *
 * FOOTER DECLARATIONS *
 * =================== */

.footer {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}
 
footer a[href^="mailto:"]	{
  background: url(../gifs/email.gif) no-repeat left center;
  text-decoration: none;
  padding-left: 20px;
  margin-left: 10px; 
}

/* ============= *
 * Media Queries *
 * ============= */

/* Extra Small Devices, Phones */ 
@media screen and (max-width: 480px) {	
	#shift1, #shift3	{
	  visibility: hidden;
	}	
	
	h1	{
	position: absolute;
	top: 10px;
	left: 131px;
	}	
	
	#shift2	{		
	  text-align: left;
	}	
}


/* Small Devices, Tablets */
@media screen and (min-width: 480.1px) {	
	#welcome	{
	  visibility: hidden;	
	}	
	
	#shift1	{
	  visibility: visible;	
	}	

	#shift2	{
	  margin: 0;	
	  text-align: center;  	
	}	
	
	#shift3	{
	  visibility: hidden;	
	}	
}

/* Medium Screens  */
@media screen and (min-width: 768.1px) {
	#welcome	{
	  visibility: visible;	
	}		
	
	#shift1	{
  	  visibility: visible;			
	}	

	#shift2	{
	  text-align: center;  	
	}	
	
	#shift3	{
	  visibility: visible;
	  text-align: right;
	}		
}

/* Large Screens */
@media screen and (min-width: 992.1px) {	
	#page	{	
	  width: 80%;	
	  margin-left: 10%;
	  margin-right: 10%;	  
	}

	#shift1	{
	}	

	#shift2	{
	  text-align: center;  	
	}	
	
	#shift3	{
	  visibiility: visible;
	}	
	
	.navbar	{
	  width: 80%;	
	  margin-left: 10%;
	  margin-right: 10%;
    }

/*	.footer_custom	{
	  width: 80%;
	  margin-right: 10%;
	}	*/
}




















